:root {
  --main-color: #1F1D2C;
  --accent-color: #F1A600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  color: #fff;
  font-family: 'Inter', sans-serif;
  background-image: url(../img/Vectores/Rectangle\ 34.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

/***********STAR NAV************/
nav {
  display:flex;
  justify-content:flex-end;
  align-items: center;
  padding: 0.5rem 1.25rem;
  background-color: transparent;
  height: 50px;
}

nav>div img {
    width: 24px;
}

input#menu-hamburguesa{
  visibility: hidden;

}

input#menu-hamburguesa~ul { 
  background-color: transparent ;
  width: 100%;
  list-style: none;
  height: 100%;
  position: absolute;
  right: 100%;
  transition: all 300ms linear;
  z-index: 100;
}

input#menu-hamburguesa:checked ~ ul {
  right: 0; 
}
/****************END NAV *******************/
/***************STAR SECTION ABOUT ****************/

#about-section {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.25rem;
}

#about-section>div {
    position: absolute;
    left: 0;
    padding: 0 1.25rem;
}

#about-section h1 {
  font-size: 50px;
  font-weight: 600;
  margin: 1rem;
}

#about-section h1+p {
  font-size: 18px;
  margin-bottom: 1rem;
}

#about-section p>span {
  color: var(--accent-color);
}

.social-icon-wrapper{
  margin-top: 1rem;
}

.social-icon-wrapper>.icon{
  margin-right: 1rem;
  width: 24px;
}

img { 
  max-width: 40%;
}

#photo-profile {
  width: 32px;

}
/*******************END SECTION ABOUT*****************/
/***************STAR SECTION ACDEMIC CAREER ****************/
#academic-career {
  background-image: url("../img/Vectores/Rectangle\ 33.svg");
  text-align: center;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
a {
  color: #fff;
}
a:hover{
  color: #F1A600;
}

.conten-img-about{
  display: flex;
  justify-content:space-around;
}

.formation{
  margin: 2rem 2rem;
}
.formation img{
  width: 400px;
}



/***************END SECTION ACDEMIC CAREER ****************/
/****************STAR SECTION EXPERIENCE*******************/
#experience-section { 
  display:flex;
  flex-direction: column;
}

.experience-box {
  margin: 5% 5%;
}

.container-box { 
  width: 100%;
  display: flex;
  
}

.container-icons{
  width: 70%;
}

.exp-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.range-bar{ 
  height: 100%;
  margin-left: 15%;
}

.bar{
  width: 24px;
}

.experience-box h2 {
   text-align: center;
  padding: 0 1.25rem;
}

#range-bar { 
  justify-content: flex-end;
}


/****************END SECTION EXPERIENCE********************/
/****************STAR SECTION MY ABILITIE******************/
#my-abilities { 
  display:flex;
  flex-direction: column;
  text-align: center;
  background-image: url(../img/Vectores/Rectangle\ 35.svg);
  background-repeat: no-repeat;
  background-position: left top;
}

#my-abilities div>h2{
  margin-top: 4rem;
}

.container-abilities {
  height: 100%;
  margin: 15% 15%;
  display: flex;
  justify-content: space-between;
}
.container-abilities h2 {
  color: #F1A600;
  margin: 10% 5%;
}

.container-abilities p {
  margin: 5% 5%;
}

.percentage { 
  margin-top: 15%;
}

/****************END SECTION MY ABILITIE******************/
/****************STAR SECTION MY PORTFOLIO******************/
#my-portfolio { 
  display:flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
}

.container-portfolio {
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
}

.image-left { 
   text-align: left;
}

/****************END SECTION MY PORTFOLIO******************/
/****************STAR SECTION CONTACT******************/
#contact-resume { 
  display:flex;
  flex-direction: column;
  text-align: center;
  background-image: url(../img/Vectores/Rectangle\ 33-1.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  margin: 1rem;
}

.number-phone {
  margin: 1rem;
  text-align: left;  
  background-image: url("../img/Ãconos/phone\ 3.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.email {
  margin: 1rem;
  text-align: right; 
  background-image: url("../img/Ãconos/mail\ 3.svg");
  background-repeat: no-repeat;
  background-position: right top; 
}




footer { 
  text-align: center;
}



/******************STAR MEDIA QUERY***********************/
@media only screen and (min-width: 768px) {
    
  label{
    display: none;
  }

  input#menu-hamburguesa~ul{
    position: static;
    display: flex;
  }
}

input#menu-hamburguesa~ul>li {
  padding: 0, 1rem;

}