:root {
  --main-color: #232635;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  color: #fff;
}

/* @media screen and (max-width: 920px) {
  
} */

nav {
  display:flex;
  justify-content:flex-end;
  align-items: center;
  padding: 0.5rem 1.25rem;
  background-color: transparent;
}

nav>div {
    width: 50px;
}


input#menu-hamburguesa{
  visibility: hidden;
}

input#menu-hamburguesa~ul { 
  background-color: ;  width: 100%;
  list-style: none;
  height: 100%;
  position: absolute;
  right: 100%;
  transition: all 300ms linear;
}

input#menu-hamburguesa:checked ~ ul {
  right: 0; 
}

/****** inicio media query****/
@media only screen and (min-width: 768px) {
  label{
    display: none;
  }

  input#menu-hamburguesa~ul{
    position: static;
    display: flex;
  }
}

input#menu-hamburguesa~ul>li {
  padding: 0, 1rem;

}